.home1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.topContent {
  background: url(../../../../public/certification.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  background-color: #000000d2;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topTitle {
  font-size: 19px;
  text-align: center;
}
.home1 h2 {
  margin-top: 20px;
  font-size: 19px;
  text-align: center;
}

.start {
  width: 250px;
  border-radius: 20px;
  height: 35px;
  background: none;
  background-color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
}

.start:hover {
  background-color: #e3e3e3;
}

.search {
  margin: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #80808052;
  height: 40px;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 600px;
}

.iconSearch {
  margin-right: -10px;
  color: #ffffff34;
  font-size: 23px;
  margin-top: 5px;
}
.search input {
  outline: none;
  width: 100%;
  height: 100%;
  background: none;
  color: #ffffffbf;
  border-radius: 20px;
  padding-left: 20px;
  border: none;
}

.certification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px;
  margin-bottom: 30px;
}
